.status {
    margin-top: constant(safe-area-inset-top);
    margin-top: env(safe-area-inset-top);
}

.scenarios {
    margin-top: constant(safe-area-inset-top);
    margin-top: env(safe-area-inset-top);
}